@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-bg {
  background-color: rgb(2, 2, 2); 
}

.bg-gray-800 {
  background-color: rgba(2, 2, 2); 
}
.hover-underline-offset::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: lightgray;
  transition: width 0.3s;
  position: relative;
  top: 0.25em;
}

.hover-underline-offset:hover::after {
  width: 100%;
}
.perspective {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%; /* Ensure card doesn't exceed container width */
  max-height: 100%; /* Ensure card doesn't exceed container height */
}

.flip-card-inner {
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Additional mobile adjustments */
@media (max-width: 768px) {
  .flip-card {
    width: 60vw; /* Adjust as needed for mobile */
    height: 60vw; /* Adjust as needed for mobile */
  }
}


.text-content ul {
  list-style-type: disc; /* Add bullets */
  padding-left: 20px; /* Space for bullets */
  text-align: center; /* Center text */
}

.text-content li {
  margin-bottom: 10px; /* Space between list items */
}

.text-content h1 {
  font-size: 2rem; /* Adjust size as needed */
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

